body{
	background: black;
}
.containner {
	margin: 0 auto;
	width: 60%;
}
.menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #171616;
}

.menu-li {
  float: left;
}

.menu-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-a:hover {
  background-color: #111;
}
.welcome-section {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 18px;
}
.welcome-user-text {
	margin: 0;
    color: wheat;
    text-align: center;
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column-one, .column-two {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column-two {
	width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}